# Data analyst exercise

Data taken from: https://github.com/quankiquanki/skytrax-reviews-dataset/tree/master/data

The datasets:
- https://raw.githubusercontent.com/quankiquanki/skytrax-reviews-dataset/master/data/airline.csv
- https://raw.githubusercontent.com/quankiquanki/skytrax-reviews-dataset/master/data/airport.csv
- https://raw.githubusercontent.com/quankiquanki/skytrax-reviews-dataset/master/data/lounge.csv
- https://raw.githubusercontent.com/quankiquanki/skytrax-reviews-dataset/master/data/seat.csv

## Goals

**Section 1**
1. Data loading
2. Explore data (`shape`, `dtypes`, `head()`)

**Section 2**
Working with the *airline* data
1. Sort: by `overall_rating` column field. print `head()` after sorting.

2. Filter: exclude NaN from `type_traveller`. print `head()` after filtering.

**Section 3**
1. Create a new `.csv` file that contains `author_country` and `continent` columns. concat `airline` dataset with the new file dataset.

**Section 4**
1. Use `Describe()` to get statistics about the data
2. Use `agg()` to get the average of 
    - `overall_rating`
    - `seat_comfort_rating`
    - `cabin_staff_rating`
    - `food_beverages_rating`
    - `inflight_entertainment_rating`
    - `ground_service_rating`
    - `wifi_connectivity_rating`
    - `value_money_rating`

## Section 1
- Data loading
- Explore data (`shape`, `dtypes`, `head()`)

In [5]:
import pandas as pd

df_airline = pd.read_csv("https://raw.githubusercontent.com/quankiquanki/skytrax-reviews-dataset/master/data/airline.csv")
df_airport = pd.read_csv("https://raw.githubusercontent.com/quankiquanki/skytrax-reviews-dataset/master/data/airport.csv")
df_lounge = pd.read_csv("https://raw.githubusercontent.com/quankiquanki/skytrax-reviews-dataset/master/data/lounge.csv")
df_seat = pd.read_csv("https://raw.githubusercontent.com/quankiquanki/skytrax-reviews-dataset/master/data/seat.csv")

In [6]:
print("df_airline", df_airline.shape)
print("df_airport", df_airport.shape)
print("df_lounge", df_lounge.shape)
print("df_seat", df_seat.shape)

df_airline (41396, 20)
df_airport (17721, 20)
df_lounge (2264, 21)
df_seat (1258, 21)

In [13]:
print("df_airline", df_airline.dtypes)

df_airline airline_name                      object
link                              object
title                             object
author                            object
author_country                    object
date                              object
content                           object
aircraft                          object
type_traveller                    object
cabin_flown                       object
route                             object
overall_rating                   float64
seat_comfort_rating              float64
cabin_staff_rating               float64
food_beverages_rating            float64
inflight_entertainment_rating    float64
ground_service_rating            float64
wifi_connectivity_rating         float64
value_money_rating               float64
recommended                        int64
dtype: object

In [9]:
df_airline.head()

,airline_name,link,title,author,author_country,date,content,aircraft,type_traveller,cabin_flown,route,overall_rating,seat_comfort_rating,cabin_staff_rating,food_beverages_rating,inflight_entertainment_rating,ground_service_rating,wifi_connectivity_rating,value_money_rating,recommended
0,adria-airways,/airline-reviews/adria-airways,Adria Airways customer review,D Ito,Germany,2015-04-10,Outbound flight FRA/PRN A319. 2 hours 10 min f...,NaN,NaN,Economy,NaN,7.0,4.0,4.0,4.0,0.0,NaN,NaN,4.0,1
1,adria-airways,/airline-reviews/adria-airways,Adria Airways customer review,Ron Kuhlmann,United States,2015-01-05,Two short hops ZRH-LJU and LJU-VIE. Very fast ...,NaN,NaN,Business Class,NaN,10.0,4.0,5.0,4.0,1.0,NaN,NaN,5.0,1
2,adria-airways,/airline-reviews/adria-airways,Adria Airways customer review,E Albin,Switzerland,2014-09-14,Flew Zurich-Ljubljana on JP365 newish CRJ900. ...,NaN,NaN,Economy,NaN,9.0,5.0,5.0,4.0,0.0,NaN,NaN,5.0,1
3,adria-airways,/airline-reviews/adria-airways,Adria Airways customer review,Tercon Bojan,Singapore,2014-09-06,Adria serves this 100 min flight from Ljubljan...,NaN,NaN,Business Class,NaN,8.0,4.0,4.0,3.0,1.0,NaN,NaN,4.0,1
4,adria-airways,/airline-reviews/adria-airways,Adria Airways customer review,L James,Poland,2014-06-16,WAW-SKJ Economy. No free snacks or drinks on t...,NaN,NaN,Economy,NaN,4.0,4.0,2.0,1.0,2.0,NaN,NaN,2.0,0

## Section 2
- Sort: by `overall_rating` column field. print `head()` after sorting
- Filter: exclude NaN from `type_traveller`. print `head()` after filtering.

## Section 3
Create a new `.csv` file that contains `author_country` and `continent` columns. concat `airline` dataset with the new file dataset.

## Section 4
- Use `Describe()` to get statistics about the data
- Use `agg()` to get the average of all `rating` columns