Taken from: https://github.com/quankiquanki/skytrax-reviews-dataset/tree/master/data

1. https://raw.githubusercontent.com/quankiquanki/skytrax-reviews-dataset/master/data/airline.csv
2. https://raw.githubusercontent.com/quankiquanki/skytrax-reviews-dataset/master/data/airport.csv
3. https://raw.githubusercontent.com/quankiquanki/skytrax-reviews-dataset/master/data/lounge.csv
4. https://raw.githubusercontent.com/quankiquanki/skytrax-reviews-dataset/master/data/seat.csv

Goals:

**Section 1**
1. Data loading
2. Explore data (`shape`, `dtypes`, `head()`)

**Section 2**
Working with the *airline* data
1. Sort: by `overall_rating` column field. print `head()` after sorting.
2. Filter: exclude NaN from `type_traveller`. print `head()` after filtering.

**Section 3**
1. Create a new `.csv` file that contains `author_country` and `continent` columns. concat `airline` dataset with the new file dataset.

**Section 4**
1. Use `Describe()` to get statistics about the data
2. Use `agg()` to get the average of 
    - `overall_rating`
    - `seat_comfort_rating`
    - `cabin_staff_rating`
    - `food_beverages_rating`
    - `inflight_entertainment_rating`
    - `ground_service_rating`
    - `wifi_connectivity_rating`
    - `value_money_rating`

## Load datasets

In [5]:
import pandas as pd

df_airline = pd.read_csv("https://raw.githubusercontent.com/quankiquanki/skytrax-reviews-dataset/master/data/airline.csv")
df_airport = pd.read_csv("https://raw.githubusercontent.com/quankiquanki/skytrax-reviews-dataset/master/data/airport.csv")
df_lounge = pd.read_csv("https://raw.githubusercontent.com/quankiquanki/skytrax-reviews-dataset/master/data/lounge.csv")
df_seat = pd.read_csv("https://raw.githubusercontent.com/quankiquanki/skytrax-reviews-dataset/master/data/seat.csv")

## Show details about the data

In [6]:
print("df_airline", df_airline.shape)
print("df_airport", df_airport.shape)
print("df_lounge", df_lounge.shape)
print("df_seat", df_seat.shape)

df_airline (41396, 20)
df_airport (17721, 20)
df_lounge (2264, 21)
df_seat (1258, 21)

In [8]:
print("df_airline", df_airline.dtypes)
print("df_airport", df_airport.dtypes)
print("df_lounge", df_lounge.dtypes)
print("df_seat", df_seat.dtypes)

df_airline airline_name                      object
link                              object
title                             object
author                            object
author_country                    object
date                              object
content                           object
aircraft                          object
type_traveller                    object
cabin_flown                       object
route                             object
overall_rating                   float64
seat_comfort_rating              float64
cabin_staff_rating               float64
food_beverages_rating            float64
inflight_entertainment_rating    float64
ground_service_rating            float64
wifi_connectivity_rating         float64
value_money_rating               float64
recommended                        int64
dtype: object
df_airport airport_name                    object
link                            object
title                           object
author                          object
author_country                  object
date                            object
content                         object
experience_airport              object
date_visit                      object
type_traveller                  object
overall_rating                 float64
queuing_rating                 float64
terminal_cleanliness_rating    float64
terminal_seating_rating        float64
terminal_signs_rating          float64
food_beverages_rating          float64
airport_shopping_rating        float64
wifi_connectivity_rating       float64
airport_staff_rating           float64
recommended                      int64
dtype: object
df_lounge airline_name                 object
link                         object
title                        object
author                       object
author_country               object
date                         object
content                      object
lounge_name                  object
airport                      object
lounge_type                  object
date_visit                   object
type_traveller               object
overall_rating              float64
comfort_rating                int64
cleanliness_rating            int64
bar_beverages_rating        float64
catering_rating             float64
washrooms_rating            float64
wifi_connectivity_rating    float64
staff_service_rating        float64
recommended                   int64
dtype: object
df_seat airline_name            object
link                    object
title                   object
author                  object
author_country          object
date                    object
content                 object
aircraft                object
seat_layout             object
date_flown              object
cabin_flown             object
type_traveller          object
overall_rating         float64
seat_legroom_rating      int64
seat_recline_rating      int64
seat_width_rating        int64
aisle_space_rating       int64
viewing_tv_rating      float64
power_supply_rating    float64
seat_storage_rating    float64
recommended              int64
dtype: object

In [9]:
df_airline.head()

,airline_name,link,title,author,author_country,date,content,aircraft,type_traveller,cabin_flown,route,overall_rating,seat_comfort_rating,cabin_staff_rating,food_beverages_rating,inflight_entertainment_rating,ground_service_rating,wifi_connectivity_rating,value_money_rating,recommended
0,adria-airways,/airline-reviews/adria-airways,Adria Airways customer review,D Ito,Germany,2015-04-10,Outbound flight FRA/PRN A319. 2 hours 10 min f...,NaN,NaN,Economy,NaN,7.0,4.0,4.0,4.0,0.0,NaN,NaN,4.0,1
1,adria-airways,/airline-reviews/adria-airways,Adria Airways customer review,Ron Kuhlmann,United States,2015-01-05,Two short hops ZRH-LJU and LJU-VIE. Very fast ...,NaN,NaN,Business Class,NaN,10.0,4.0,5.0,4.0,1.0,NaN,NaN,5.0,1
2,adria-airways,/airline-reviews/adria-airways,Adria Airways customer review,E Albin,Switzerland,2014-09-14,Flew Zurich-Ljubljana on JP365 newish CRJ900. ...,NaN,NaN,Economy,NaN,9.0,5.0,5.0,4.0,0.0,NaN,NaN,5.0,1
3,adria-airways,/airline-reviews/adria-airways,Adria Airways customer review,Tercon Bojan,Singapore,2014-09-06,Adria serves this 100 min flight from Ljubljan...,NaN,NaN,Business Class,NaN,8.0,4.0,4.0,3.0,1.0,NaN,NaN,4.0,1
4,adria-airways,/airline-reviews/adria-airways,Adria Airways customer review,L James,Poland,2014-06-16,WAW-SKJ Economy. No free snacks or drinks on t...,NaN,NaN,Economy,NaN,4.0,4.0,2.0,1.0,2.0,NaN,NaN,2.0,0

In [10]:
df_airport.head()

,airport_name,link,title,author,author_country,date,content,experience_airport,date_visit,type_traveller,overall_rating,queuing_rating,terminal_cleanliness_rating,terminal_seating_rating,terminal_signs_rating,food_beverages_rating,airport_shopping_rating,wifi_connectivity_rating,airport_staff_rating,recommended
0,aalborg-airport,/airport-reviews/aalborg-airport,Aalborg Airport customer review,Klaus Malling,Denmark,2014-02-11,A small very effective airport with few flight...,NaN,NaN,NaN,9.0,5.0,5.0,NaN,NaN,NaN,4.0,NaN,NaN,1
1,aalborg-airport,/airport-reviews/aalborg-airport,Aalborg Airport customer review,S Kroes,Netherlands,2013-02-13,This is a nice and modern airport at the momen...,NaN,NaN,NaN,9.0,5.0,4.0,NaN,NaN,NaN,4.0,NaN,NaN,1
2,aalborg-airport,/airport-reviews/aalborg-airport,Aalborg Airport customer review,M Andersen,Denmark,2012-08-07,A very nice airy terminal - that seems modern ...,NaN,NaN,NaN,9.0,5.0,5.0,NaN,NaN,NaN,4.0,NaN,NaN,1
3,aalborg-airport,/airport-reviews/aalborg-airport,Aalborg Airport customer review,Paul Van Alsten,France,2011-05-22,AMS-AAL and quite satisfied with this regional...,NaN,NaN,NaN,5.0,5.0,5.0,NaN,NaN,NaN,3.0,NaN,NaN,0
4,aalborg-airport,/airport-reviews/aalborg-airport,Aalborg Airport customer review,K Fischer,NaN,2010-08-04,Very quick check-inn and security screening. N...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [11]:
df_lounge.head()

,airline_name,link,title,author,author_country,date,content,lounge_name,airport,lounge_type,...,type_traveller,overall_rating,comfort_rating,cleanliness_rating,bar_beverages_rating,catering_rating,washrooms_rating,wifi_connectivity_rating,staff_service_rating,recommended
0,adria-airways,/lounge-reviews/adria-airways,Adria Airways Business Class Lounge,R Deu,Spain,2014-03-09,There are 2 separate areas with arm chairs and...,ADRIA AIRWAYS BUSINESS CLASS LOUNGE REVIEW,NaN,Business Class,...,NaN,3.0,3,4,3.0,3.0,3.0,2.0,2.0,1
1,aegean-airlines,/lounge-reviews/aegean-airlines,Business Class - Larnaca Airport,Andreas Kar,Germany,2015-06-13,"It is a small, dark, windowless lounge located...",Business Class,Larnaca Airport,Business Class,...,Solo Leisure,5.0,4,4,3.0,3.0,3.0,4.0,4.0,1
2,aegean-airlines,/lounge-reviews/aegean-airlines,Aegean Airlines Business Class Lounge - Athens...,A Diakomichalis,Greece,2014-10-05,Both of the lounges have the same food (sandwi...,AEGEAN AIRLINES BUSINESS CLASS LOUNGE REVIEW,Athens Airport,Business Class,...,NaN,5.0,5,5,5.0,4.0,4.0,5.0,5.0,1
3,aegean-airlines,/lounge-reviews/aegean-airlines,Aegean Airlines Business Class Lounge - Athens...,R Deu,Spain,2014-03-11,The lounge was clean and the decor is up to da...,AEGEAN AIRLINES BUSINESS CLASS LOUNGE REVIEW,Athens Airport,Business Class,...,NaN,2.0,3,3,2.0,1.0,2.0,3.0,2.0,0
4,aegean-airlines,/lounge-reviews/aegean-airlines,Aegean Airlines Business Class Lounge - Thessa...,Petros Papadopoulos,United Kingdom,2012-07-24,Big and spacious lounge. Comfy sofas and a nic...,AEGEAN AIRLINES BUSINESS CLASS LOUNGE REVIEW,Thessaloniki Airport,Business Class,...,NaN,5.0,5,5,4.0,4.0,4.0,5.0,5.0,1

In [12]:
df_seat.head()

,airline_name,link,title,author,author_country,date,content,aircraft,seat_layout,date_flown,...,type_traveller,overall_rating,seat_legroom_rating,seat_recline_rating,seat_width_rating,aisle_space_rating,viewing_tv_rating,power_supply_rating,seat_storage_rating,recommended
0,aegean-airlines,/seat-reviews/aegean-airlines,Aegean Airlines customer review,Jay Simpson,United Kingdom,2015-07-20,LHR to Larnaca return. Plane was clean and in ...,A320-200,3x3,19-07-2015,...,Solo Leisure,10.0,4,4,4,5,4.0,NaN,4.0,1
1,aegean-airlines,/seat-reviews/aegean-airlines,Aegean Airlines customer review,Paul Staples,United Kingdom,2013-01-21,For a short haul airline the seats are very go...,AIRBUS A320,3x3,NaN,...,NaN,9.0,4,4,4,4,4.0,NaN,NaN,1
2,aer-lingus,/seat-reviews/aer-lingus,Aer Lingus customer review,L Pulliam,United States,2015-07-07,The seats are a bit tight but bearable. If you...,A330,2x4x2,06-07-2015,...,Couple Leisure,6.0,3,3,3,3,3.0,3.0,3.0,1
3,aer-lingus,/seat-reviews/aer-lingus,Aer Lingus customer review,D Brose,United States,2010-10-22,Appeared new. Good PTV entertainment. Seats ha...,Airbus A330,2x4x2,NaN,...,NaN,5.0,2,3,3,3,4.0,NaN,NaN,0
4,aeroflot-russian-airlines,/seat-reviews/aeroflot-russian-airlines,Aeroflot Russian Airlines customer review,Konstantinos Grimpilakos,Greece,2015-08-02,Boeing 737-800 seats from Athens to Moscow are...,Boeing 737-800,3x3,01-07-2015,...,Business,1.0,1,1,1,2,1.0,5.0,1.0,1

## Exercise

### Section 2
- Sort: by `overall_rating` column field. print `head()` after sorting
- Filter: exclude NaN from `type_traveller`. print `head()` after filtering.

### Section 3
Create a new `.csv` file that contains `author_country` and `continent` columns. concat `airline` dataset with the new file dataset.

### Section 4
- Use `Describe()` to get statistics about the data
- Use `agg()` to get the average of all `rating` columns